[Desktop Entry]
Name=org-protocol
# Exec=/home/stefan/.emacs.d/bin/org-capture %u
Exec=emacsclient -a emacs -c -F '((name . "doom-capture") (transient . t))' %u
Type=Application
Terminal=false
Categories=System;
MimeType=x-scheme-handler/org-protocol;
